body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#menu {
    margin-bottom: 40px;
}

.pizza-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pizza {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33% - 20px); /* 3 колонки */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cart {
    text-align: center;
    margin-top: 40px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e6b800;
}